.two-column-container {
  display: flex;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 8rem;
}
.example-container {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
}
