
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background:#282c34;
  border: 2px solid #61dafb;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 5rem;
  height: 5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.status-text {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #61dafb;
  margin-bottom: 1rem;
}

.game-info {
  margin-left: 20px;
}

.text-bold{
    font-weight: bolder;
}
.moves-record-li{
    list-style: none;
    margin-left: -30px;
}
.moves-record-ol{
  height:18rem
}
.moves-record-buttons{
    margin: 0;
    padding: 0;
    border: 1px solid #61dafb;
    outline: none;
    height: 2rem;
    width: 10rem;
    background-color: #282c34;
    color: #61dafb;
}